html,
body,
#game,
#splash {
    height: 100%;
    font-size: 24px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'main', sans-serif;
}

#splash,
noscript {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    color: #FFF;
    line-height: 1.5em;
    padding: 0 20px;
}

#splash .splash-icon {
    display: block;
    max-width: 200px;
    height: auto;
    margin-bottom: 2rem;
}

#splash .loading-label, #splash .loading-percent {
    display: block;
    text-transform: uppercase;
}
